body{
  background: #B3B3B3;
  font-size: 125%;
  margin: 20px
}

header{
  background: #00B7EA;
  text-align: center;
  padding-bottom: 20px
}

h1{
  color: #ffffff
}

nav{
  font-variant: small-caps;
  font-size: 37px;
  font-family: Arial
}
section{
  display: inline-block;
  width: 30%;
  margin: 10px;
  float: left;
}
h2{
  background: #00B7EA;
  color: #666666;
}
details{
  font-style:  italic
}
summary{
  font-style: normal
}
footer{
  background: #00b7ea;
  clear: both;
  padding-bottom: 20px
}
img{
  width: 75px
}
header,footer{
  background: -moz-linear-gradient(top,#666666 0%,#00B7EA 100%);
  background: -webkit-linear-gradient(top,#666666 0%,#00B7EA 100%);
  background: -o-linear-gradient(top,#666666 0%,#00B7EA 100%);
  background: linear-gradient(top,#666666 0%,#00B7EA 100%);
}
nav a{
  display: inline-block;
  background: #ffffff;
  width: 22%;
}
.half{
  width: 45%
}
.whole{
  width: 100%
}