h1{
	color:skyblue;
	background: black;
	text-transform: uppercase;
}
h3{
	color: #ffffff;
	text-transform: uppercase;
}
h2{
	font-family: Arial, serif;
	font-style: normal;
	font-variant: normal;
	font-size: 25px;
	color: #ffffff;
	text-transform: uppercase;
}
span{
	font-size: 25px;
	color: black;
	background-color: skyblue;
	line-height: 200%;
	width: 200px;
	height: 100px;
	display: inline-block;
}
header{
	background: orange;
	text-align: center;
}
nav{
	font-size: 150%;
	font-family: Arial;
	font-variant: small-caps;
}
body{
	background: url(../img/space.jpg) center fixed repeat;
	background-size: cover;
	background-repeat: no-repeat;
}
p,q,ul,ol,dl,table,blockquote,summary, address, a{
	color: #ffffff;
}
nav a{
	display: inline-block;
	width: 10%;
	background: black;
	text-decoration: none;
	margin-bottom: 15px;
}
nav a:hover{
	background-color: skyblue;
}
div h3{
	color: #00fff3;
}
div p{
	color: #00fff3;
}
div table{
	color: #00fff3;
}
div{
	background: url(../img/KNY.png) center fixed repeat;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px;
}
p span{
	background: inherit;
}
caption{
	margin: 10px;
}