h1{
	float: right;
}
h2{
	float: left	;
}
h3{
	clear: both;
}
div{
	width: 30%;
	display: table-cell;
	background: skyblue;
}
a{
	display: block;
	font-weight: bold;
	color: #ffffff;
	background: #0006CC;
	width: 300px;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	margin-top: 10px;
	font-size: 50px;
}
a:hover{
	background: #B3b3b3;
	color: #0006CC;
}
a:focus{
	background: #B3b3b3;
	color: #0006CC;
}
a:active{
	border: solid 3px;
}
ul{
	list-style: square;
}
ol{
	list-style: upper-roman;
}
ul{
	list-style-image: url();
}
.list{
	display: inline-block; 
	width: 45%; 
	text-align: center;
}
#ul, #ol,.list h2{
	text-transform: uppercase;
	float: none;
}
nav a[href$=".com/"] {
	background: grey;
}
a[href $= ".net/"] {
	background: purple;
}
a[href$=".club/"] {
	background: green;
}
