h2{
	text-align: center;
}
div{
	background: skyblue;
	box-sizing: border-box;
	width: 48%;
	height: 300px;
	display: inline-block;
	float: left;
	overflow: auto;
	border: 20px solid #e0a926;
	margin: 5px;
	margin: 0 auto;
	padding: 15px;
	margin-top: 50px;
}