* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background: url(../img/flywheel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px
}
h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    margin: 23px;
}
h2{
  font-size: 30px;
  margin-bottom: 30px;
}
section{

    }
nav a {
    border-radius: 5%;
    color: #000000;
    background-color: #ffffff4d;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 256px;
    height: 60px;
    padding: 20px 0px;
    margin: 30px 82px;
    font-size: 16px;
}

img{
  width: 100%;
  display: block;
  border: solid 3px #000;
}

body{
  margin: 0 30px 0;
  padding: 0 10px 0;
}
main{
  display: flex;
  min-height: 800px;
}
.left{
  width: 400px;
  display: inline-block;
  margin-right: 13px;
  background-color: #777612;
}
.left a{
  width: 100%;
  display: block;
  padding: 25px 20px;

}
.right{
  display: inline-block;
  flex: 1;
  margin-top: 36px;
}
p{
  font-size: 20px;
  margin-bottom: 15px;
}
.active{
  background-color: #fff;
}
.table{
  text-align: center;
  margin-left: 80px;
  font-family: Arial;
}
.thead{
  background-color: #7b9d52;
  color: #fff;
}
.thead th:first-child{
  text-align: left;
  padding-left: 18px;
}
.thead th{
  padding: 10px 20px 10px;
  border-radius: 5px 5px 0 0;
  border-bottom: 3px solid #69d969;
}
.tbody{
  background-color: #b6f5b6;
  color: #787878;
}
.tbody tr td:first-child{
  text-align: left;
  padding-left: 18px;
}
.tbody tr td{
  padding: 10px 20px 10px;
}